.background {
    background-color: rgba(171, 198, 255, 0.39);
}

.createoffer {
    font-size: 20px;
    font-weight: bolder;
}

.copy {
    font-size: 24px;
}

.btn-clr1 {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #003fa3;
    color: #ffffff;
    width: 105px;
    font-size: 12px;
}

.border-camp {
    border: 1px solid #ccc;
    padding: 8px 0px;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0 0 6px 0 rgba(78, 78, 78, 0.44);
    background-color: #ffffff;
}

.fs-bage {
    width: 28px;
    height: 28px;
    top: -13px;
    right: -10px;
    color: #fff;
    font-size: 13px;
    line-height: 21px;
    font-weight: 600;
    position: absolute;
    border-radius: 100%;
    background-color: #213fa3;
    text-align: center;
}