.background {
  background-color: rgba(171, 198, 255, 0.39);
}

.card-details {
  border: none;
  background: #ddd0;
  border-bottom: 2px solid #ccc;
}

mat-card {
  font-family: Montserrat;
}

// .table :hover {
//   color: black;
//   background-color: skyblue;
// }

// .head {
//   color: #2d3263;
// }

// .go {
//   font-weight: bold;
//   color: #2d3263;
//   font-size: 25px;
// }

// .sidebar {
//   height: 600px;
//   width: 400px;
// }

// .sidebtn:hover {
//   background-color: white;

// }