.panel.panel-default {
    padding: 28px;
    margin-left: 68px;
    border-radius: 15.4px;
}

.partner-login {
    padding-left: 15px;
}

.title-partner {
    font-weight: 600;
}

.inpt {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #dcdcdc;
    padding-left: 0;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    box-shadow: none;
}

.mail-already-exist {
    text-align: center;
    padding-top: 16px;
    color: #f00;
    font-weight: 600;
}

.mail-sent {
    text-align: center;
    padding-top: 16px;
    color: green;
    font-weight: 600;
}