<footer class="pt-5 pb-1 bg-blue font-family">
  <div class="container">
    <div class="row f-15">
      <div class="col-sm-3 text-left text-center-csss">
        <a href="#"><img class="img-fluid mb-2" src="assets/images/icons/about-us.png" alt="aboutus" /></a>
        <a href="#">
          <p class="p-15 my-1">About</p>
        </a>
        <a href="#">
          <p class="p-15 my-1">Overview</p>
        </a>
        <a href="#">
          <p class="p-15 my-1">How does it work ?</p>
        </a>
        <a href="#">
          <p class="p-15 my-1">FAQ</p>
        </a>
      </div>
      <div class="col-sm-3 text-left text-center-csss">
        <a href="#"><img class="img-fluid mb-2" src="assets/images/icons/partner-portal.png" alt="Partner Portal" /></a>
        <a href="#">
          <p class="p-15 my-1">Partner Portal</p>
        </a>
        <a href="#">
          <p class="p-15 my-1">Our partners</p>
        </a>
        <a href="#">
          <p class="p-15 my-1">Login</p>
        </a>
        <a href="#">
          <p class="p-15 my-1">Join us</p>
        </a>
      </div>
      <div class="col-sm-3 text-left text-center-csss">
        <a href="#"><img class="img-fluid mb-2" src="assets/images/icons/content-services.png"
            alt="Content & Services" /></a>
        <a href="#">
          <p class="p-15 my-1">Content & Services</p>
        </a>
        <a href="#">
          <p class="p-15 my-1">Offers</p>
        </a>
        <a href="#">
          <p class="p-15 my-1">Create Shopping list</p>
        </a>
        <a href="#">
          <p class="p-15 my-1">Compare prices</p>
        </a>
      </div>
      <div class="col-sm-3 text-center text-center-csss">
        <a href="#">
          <p class="p-15 mx-5">Download & View offers on the go !</p>
        </a>
        <a href="https://play.google.com/store" target="_blank"><img class="img-fluid mb-2"
            src="assets/images/google-play.png" alt="Play Store" /></a>
        <div class="pt-3">
          <a href="https://www.facebook.com/" target="_blank" class="p-16"><img class="img-fluid mb-2"
              src="assets/images/icons/facebook.png" alt="facebook" /></a>
          <a href="https://twitter.com/" target="_blank" class="p-16"><img class="img-fluid mb-2"
              src="assets/images/icons/twitter.png" alt="twitter" /></a>
          <a href="https://www.youtube.com/" target="_blank" class="p-16"><img class="img-fluid mb-2"
              src="assets/images/icons/youtube.png" alt="youtube" /></a>
        </div>
        <div class="pt-3">
          <a href="https://in.linkedin.com/" target="_blank" class="p-16"><img class="img-fluid mb-2"
              src="assets/images/icons/linkedin.png" alt="linkedin" /></a>
          <a href="https://www.instagram.com/" target="_blank" class="p-16"><img class="img-fluid mb-2"
              src="assets/images/icons/instagram.png" alt="instagram" /></a>
          <a href="https://in.pinterest.com/" target="_blank" class="p-16"><img class="img-fluid mb-2"
              src="assets/images/icons/pinterest.png" alt="pinterest" /></a>
        </div>
      </div>
    </div>
    <div class="text-center text-white">
      <img class="img-fluid mb-2" src="assets/images/logo-transprent.png" alt="Logo" />
      <p class="copy-right">Copyright © 2019, GoBaskt. All rights reserved.</p>
    </div>
  </div>
  <!-- /.container -->
</footer>