<app-header></app-header>
<div class="row followers" style="margin: 0;">
  <div class="col-3 background">
    <app-custom-payment></app-custom-payment>
  </div>
  <div class="col-9">
      <div class="container">
        <p style="font-weight: bold;">Choose desired Bank </p>
        <div class="row">
          <div class="col-md-4 m-1">
            <mat-card>
              <div class="row">
                <div class="col-md-3">
                  <img src="../../../assets/images/subscription/citi.png">
                </div>
                <div class="col-md-9">
                  <p style="font-weight:bold; font-size: 14px;">&nbsp;Citi Bank
                </div>
              </div>
            </mat-card>
          </div>
          <div class="col-md-4 m-1">
            <mat-card>
              <div class="row">
                <div class="col-md-2">
            
                  <img src="../../../assets/images/subscription/1200-px-american-express-logo-2018-svg.png">
                </div>
                <div class="col-md-9">
                  <p style="font-weight:bold; font-size: 14px;">American Express
                </div>
              </div>
            </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 m-1">
            <mat-card>
              <div class="row">
                <div class="col-md-3">
            
                  <img src="../../../assets/images/subscription/barclays-logo.png">
                </div>
                <div class="col-md-9">
                  <p style="font-weight:bold; font-size: 14px;"> Barclays bank
                </div>
              </div>
            </mat-card>
          </div>
          <div class="col-md-4 m-1">
            <mat-card >
              <div class="row">
                <div class="col-md-3">
            
                  <img src="../../../assets/images/subscription/hsbc-3.png">
                </div>
                <div class="col-md-9">
                  <p style="font-weight:bold;"> HSBC bank
                </div>
              </div>
            </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 m-1">
            <mat-card >
              <div class="row">
                <div class="col-md-3">
                  <img src="../../../assets/images/subscription/download-8.png">
                </div>
                <div class="col-md-9">
                  <p style="font-weight:bold; font-size: 14px;">RBC Royal Bank
                </div>
              </div>
            </mat-card>
          </div>
        </div>
        <hr class="dash">
        <div class="row">
          <select class="drop">
            <option>Other Banks</option>
            <option>PNC Financial Services</option>
            <option> Charles Schwab Corporation</option>
            <option>The Bank of New orkY Mellon</option>
            <option>The Bank of New orkY Mellon</option>
          </select>
        </div>
        <div class="row  mt-2">
          <div class="col-sm-6 text-center">
            <button type="submit" class="col-sm-12 btn-clr-blue btn btn-sm">
              Pay $2650</button>
          </div>
        </div>
      </div>
  </div>
</div>