<div class="container">
  <app-header></app-header>
  <div class="row my-2">
    <div class="col-md-4 font-family">
      <h1 class="mb-4 font-family">Register for 3 months free trial for Basic Plan</h1>
      <div>
        This Free Subscription will include 3 Months free trial for Basic Plan.
        <img src="../../../assets/images/icons/more.png" class="pos" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample ">
      </div>
      <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div>
          <p class="m-0">-No credit card is required</p>
          <p class="m-0">-Cancle the subscription anytime</p>
          <p class="m-0">-1 month free trial for Advance Plan</p>
          <p class="m-0">-15 days free trial for Premium Plan</p>
        </div>
      </div>
      <p>pay yearly<mat-slide-toggle></mat-slide-toggle>
        pay monthly<p>
          <p>All prices are in $USD</p>
    </div>
    <div class="col-md-8">
      <img src="../../../assets/images/subscription/group-14.png">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="fun">
        <h1 class="text-center font-weight-bold">Basic Plan</h1>
        <p class="text-center"><span class="dell">$33</span>/month</p>
        <p class="text-center">When billed annually</p>
        <mat-card-content>
          <p class="m-0">Upto 2 offers per month on website, mobile app, FB mssgr, alexa mobile app, alexa voice,
            google assistant, google home, WhatsApp</p>
          <p class="m-0">All the Offers displayed will be valid for 1 month only</p>
          <p class="m-0">200$ per ad placed on GoBaskt digital & voice channels</p>
          <p class="m-0">Upto 10 return offers for customers redeeming offers</p>
          <p class="m-0">Basic analytics on offers</p>
          <p class="m-0">Free Offer build</p>
          <p class="m-0">Free Ad build</p>
        </mat-card-content>
        <mat-card-footer class="text-center"><button class="GetStarted1" [routerLink]="['/payment/creditpay']">Get
            Started</button> </mat-card-footer>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="fun">
        <h1 class="text-center font-weight-bold">Advance Plan</h1>
        <p class="text-center"><span class="dell">$90</span>/month</p>
        <p class="text-center">When billed annually</p>
        <mat-card-content>
          <p class="m-0">Upto 2 offers per month on website, mobile app, FB mssgr, alexa mobile app, alexa voice,
            google assistant, google home, WhatsApp</p>
          <p class="m-0">All the Offers displayed will be valid for 1 month only</p>
          <p class="m-0">200$ per ad placed on GoBaskt digital & voice channels</p>
          <p class="m-0">Upto 10 return offers for customers redeeming offers</p>
          <p class="m-0">Basic analytics on offers</p>
          <p class="m-0">Free Offer build</p>
          <p class="m-0">Free Ad build</p>
        </mat-card-content>
        <mat-card-footer class="text-center"><button class="GetStarted1" [routerLink]="['/payment/creditpay']">Get
            Started</button> </mat-card-footer>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="fun">
        <h1 class="text-center font-weight-bold">Premium Plan</h1>
        <p class="text-center"><span class="dell">$220</span>/month</p>
        <p class="text-center">When billed annually</p>
        <mat-card-content>
          <p class="m-0">Upto 2 offers per month on website, mobile app, FB mssgr, alexa mobile app, alexa voice,
            google assistant, google home, WhatsApp</p>
          <p class="m-0">All the Offers displayed will be valid for 1 month only</p>
          <p class="m-0">200$ per ad placed on GoBaskt digital & voice channels</p>
          <p class="m-0">Upto 10 return offers for customers redeeming offers</p>
          <p class="m-0">Basic analytics on offers</p>
          <p class="m-0">Free Offer build</p>
          <p class="m-0">Free Ad build</p>
        </mat-card-content>
        <mat-card-footer class="text-center"><button class="GetStarted1" [routerLink]="['/payment/creditpay']">Get
            Started</button> </mat-card-footer>
      </mat-card>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-5 font-family">
      <h2 class="font-family font-weight-bold">No matter your business
        is big or small, we’ve got
        everyone covered.</h2>
      <div>
        <p style="font-weight: bold;">The benefits of joining us include - </p>
        <ul style="list-style-type:symbols('-');">
          <li>Out to actual customers out there, make your presence felt in the market.</li>
          <li>Make your own promotional offers / coupons and sell your product your way!</li>
          <li>Reach out to global audience, make the world your own market place.</li>
          <li>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin</li>
          <li>Curabitur lobortis id lorem id bibendum. Ut id consectetur magna</li>
          <li>Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui.</li>
        </ul>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-6">
          <img src="../../assets/images/subscription/478.png">
        </div>
        <div class="col-6">
          <img src="../../../assets/images/subscription/2442241.png">
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center"><img src="../../../assets/images/subscription/14899.jpg"></div>
      </div>
      <div class="row">
        <div class="col-6">
          <img src="../../../assets/images/subscription/1019.jpg">
        </div>
        <div class="col-6">
          <img src="../../../assets/images/subscription/551207-pk-1-o-92-23.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 text-center font-family">
      <img src="../../../assets/images/subscription/dinner.svg">
      <p>Start with as cheap as a<span style="color:#292c44; font-weight:bold;"> meal per
          month</span></p>
      <button class="GetStarted1" [routerLink]="['/auth/signup','merchant']">Get Started</button>
      <p>Already a member? <a [routerLink]="['/auth/login']">
          Log in</a></p>
    </div>
  </div>
</div>
<app-footer></app-footer>