.Merchant_plans_hover_change {
  width: 1440px;
  height: 2658px;
  background-color: #ffffff;
}

.Merchant-Plans.r {
  position: absolute;
  top: 10px;
  left: 150px;
}

.Group-14 {
  float: right;
}

.cardCollapse {
  height: 80px;
  width: 280px;
}

.dell {
  font-size: 32px;
}

.Month {
  font-size: 25px;
}

.collapse {
  width: 300px;
}

.GetStarted1 {
  border-radius: 15px;
  background-color: #2d3263;
  color: white;
  height: 40px;
  border: white;
}

.GetStarted1:hover {
  color: #2d3263;
  background-color: white;
}

.NoMatter {
  font-weight: bold;
  font-size: 30px;
}

.center {
  margin-left: 500px;
}

#more {
  display: none;
}

.fun:hover {
  color: white;
  background-color: #2d3263;
}

.pos {
  height: 20px;
  width: 20px;
  position: absolute;
}