<div class="container">
  <div class="row">
    <div
     class="col-md-12">
        <div class="GoBaskt"><span class="go">GoBaskt</span> <span class="head">&nbsp;&nbsp;Merchant Plans</span></div>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2 style="font-weight: bold; font-size: 25px;">Choose Payment Methods</h2><br>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-4">
        <div style="width:300px; background-color: rgba(171, 198, 255, 0.39);" class="sidebar">


   <br><button  class="btn btn-outlined sidebtn" [routerLink]="['/payment/creditpay']"><h4><i class="far fa-credit-card"></i><a>&nbsp;&nbsp;Credit/Debit Card</a> </h4></button>
 <br>  <button class="btn btn-outlined sidebtn"  [routerLink]="['/payment/gpay']"><h4><i class="fab fa-google-wallet"></i><a>&nbsp;&nbsp;Google Wallet</a></h4> </button>
   <br><button class="btn btn-outlined sidebtn" [routerLink]="['/payment/netbanking']"><h4><i class="fas fa-university"></i><a>&nbsp;&nbsp;Netbanking</a></h4></button>
  <br> <button class="btn btn-outlined sidebtn" [routerLink]="['/payment/amazon']"><h4><i class="fab fa-cc-amazon-pay"></i><a>&nbsp;&nbsp;Amazon Pay<br><br> </a></h4></button>
           </div>
       </div>
        <div class="col-md-8">
          </div>

</div>
</div>
