
.table :hover{
  color: black;
  background-color: skyblue;
}
.head{
  color: #2d3263;
}
.go{
font-weight: bold;
color: #2d3263;
font-size: 25px;
}
.sidebar{
height: 600px;
width: 400px;
}
.sidebtn{
  width: 300px;
  height: 100px;
}
.sidebtn:hover{
  background-color: white;

}
