.nav-reducer {
    margin: 90px auto 0;
}

.cursor {
    cursor: pointer;
}

ul {
    li {
        a {
            cursor: pointer;
            color: black;
            ;
        }

        &:hover {

            a,
            &:hover {
                color: #003fa3;
            }

            .active {
                background-color: #003fa3;
                color: white;
            }
        }
    }
}

