
<div class="sidenav">
    <div class="row pb-5">
        <h1><span class="GoBaskt baskt"> <i class="fas fa-shopping-basket"></i></span><span class="GoBaskt text-style-1">Go</span><span class="GoBaskt">Baskt</span></h1>
    </div>
    <div class="row">
        <img  class="usrimg"src="../../../assets/images/Image 1@2x.png">
        <h1 class="Welcome">Welcome</h1>
        <h1 class="John-Davis-Jr">John-Davis-Jr</h1>
        <h1 class="Hyper-Market">Hyper Market</h1>
        <h1 class="ID-0012MGB">ID-0012MGB</h1>
    </div>
    <div class="row gs">
        <div class="col">
            <h1 class="Gold-Member">Gold Member</h1>
        </div>
        <div class="col">
            <h1 class="Since-Jan-2019">Since Jan 2019</h1>
        </div>
    </div>
  
    <div class="row Path-16">
        <button class="dropdown-btn">Dropdown
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
    </div>
    <div class="row Rectangle-18">
            <div class="col-2 ml-3 pt-3 ">
                <i class="GoBaskt fas fa-lg fa-cog "></i>
            </div>
            <div class="col-7 pt-3">
                <h1 class="Accounts-Settings">Accounts Settings</h1>
            </div>
      
    </div>
</div>



 