
  <div class="clearfix">
    <div class="my-4"><p class="font-weight-bold">Choose Payment Methods</p></div>
    <div>
      <ul style="list-style: none;" class="p-0">
      <li class="font-weight-bold my-4 cursor-pointer" [routerLink]="['/payment/creditpay']"><i class="far fa-credit-card"></i>&nbsp;&nbsp;Credit/Debit
            Card</li>
      <li class="font-weight-bold my-4 cursor-pointer" [routerLink]="['/payment/gpay']"><i class="fab fa-google-wallet"></i>&nbsp;&nbsp;Google Wallet
      </li>
      <li class="font-weight-bold my-4 cursor-pointer" [routerLink]="['/payment/netbanking']"><i class="fas fa-university"></i>&nbsp;&nbsp;Netbanking
      </li>
      <li class="font-weight-bold my-4 cursor-pointer" [routerLink]="['/payment/amazon']"><i class="fab fa-cc-amazon-pay"></i>&nbsp;&nbsp;Amazon Pay</li>
      </ul>
    </div>
  </div>